<div class="max-w-lg m-auto">


</div>
<div class="max-w-lg m-auto">
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
    <div class="mx-3 md:flex mb-6">
   


    <div class="job_post">
        <div><small>Posted:
            <%= @job.created_at.strftime("%b %d, %Y") %></small>
        <h3 class="text-xl font-bold text-gray-800">Job <%= @job.id %></h3>
        <% if @job.completed == true %>
        <strong>Job Completed By:</strong>
        <%= link_to profile_path(@job.users.second.id), class: "link" do %>
        <%= @job.users.second.first_name.capitalize + " " + @job.users.second.last_name.capitalize %>
    <% end %>
        <% elsif @job.accepted == true %>
        <strong>Job Accepted By:</strong>
        <%= link_to profile_path(@job.users.second.id), class: "link" do %>
        <%= @job.users.second.first_name.capitalize + " " + @job.users.second.last_name.capitalize %>
    <% end %>
        <% end %>

    <hr>
        </br>
    </div>
        <strong>Job Poster:</strong>

        <%= link_to profile_path(@job.users.first.id), class: "link" do %>
            <%= @job.users.first.first_name.capitalize + " " + @job.users.first.last_name.capitalize %>
        <% end %>
<br>
        <strong>Number of head:</strong>
            <%= @job.head %>
<br>
        <strong>Estimated weight:</strong>
            <%= @job.weight.to_s + "kg" %>
<br>
        <strong>Instructions:</strong>
            <%= @job.instructions %>
<br>

<br>


            <br>

            <%= render partial: "partials/addresses", locals: {addressable: @job} %>
            <br>
            
            <% if current_user.id == @job.users.first.id && current_user.livestock_owner_role == true%>
            <%= link_to "Edit Job", edit_job_path, class:"link" %> |    
            <%= link_to "Edit Origin", edit_job_path, class:"link" %> |
                <%= link_to "Edit Destination", edit_job_path, class:"link" %>
            <% end %>

            <% if current_user.transporter_role == true %>
            <% if @job.accepted == true && @job.users.second.id == current_user.id && @job.completed == false %>
                <%= button_to "Complete Job", {controller: 'jobs', action: 'complete_job'}, class: 'btn' %>
                <% elsif @job.accepted == false %>
                <%= button_to "Accept Job", {controller: 'jobs', action: 'accept_job'}, class: 'btn' %>
            <% end %>
            <% end %>

            
                
            
        </div>
    
</div>
</div>
</div>
</div>