<%= form_with(model: [addressable, Address.new], local: true, class: "form") do |form| %>

<div class="field">
  <div class="label-div">
    <%= form.label :street_number, class: "label"  %>
  </div>
  <div class="input-div">
    <%= form.text_field :street_number, placeholder: "Street Number", required: true, class: "input" %>
  </div>
</div>

<div class="field">
  <div class="label-div">
  <%= form.label :street_name, class: "label"  %>
</div>
<div class="input-div">
<%= form.text_field :street_name, placeholder: "Street Name", required: true, class: "input" %>
</div>
</div>

<div class="field">
  <div class="label-div">
  <%= form.label :state, class: "label"  %>
</div>
<div class="input-div">
<%= form.text_field :state, placeholder: "State", required: true, class: "input" %>
</div>
</div>


<div class="field">
  <div class="label-div">
  <%= form.label :postcode, class: "label"  %>
</div>
<div class="input-div">
<%= form.text_field :postcode, placeholder: "Postcode", required: true, class: "input" %>
</div>
</div>


<div class="field">
  <div class="label-div">
    <%= form.label :country, class: "label"  %>
  </div>
  <div class="input-div">
  <%= form.text_field :country, placeholder: "Country", required: true, class: "input" %>
</div>
</div>


<div class="md:flex md:items-center">
  <div class="md:w-1/3"></div>
  <div class="md:w-2/3">
    <%= form.submit class: "btn" %>
  </div>
</div>


<% end %>

