<header class="lg:px-16 px-6 bg-white flex flex-wrap items-center lg:py-0 py-2">
    <div class="flex-1 flex justify-between items-center">

        <%= link_to root_path do %>
            <%= inline_svg_tag("logo.svg", size: 'width="128px" * height="36"') %>
        <% end %>

    </div>

        <label for="menu-toggle" class="cursor-pointer lg:hidden block">
            <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                viewBox="0 0 20 20">
                <title>menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
        </label>
        <input type="checkbox" class="hidden" id="menu-toggle" />

        <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
            <nav>
                <ul class="lg:flex items-center justify-between text-base text-gray-700 pt-4 lg:pt-0">
                    <li>
                        <a href="#"
                            class="nav-link">How it Works</a>
                    </li>

                    <li>
                        <%= link_to "View Listed Jobs", jobs_path, class: "nav-link" %>
                    </li>

                    <% if user_signed_in? %>

                    <li>
                        <%= link_to "Your Jobs", users_jobs_path(current_user.id), class: "nav-link" %>
                    </li>

                    <% if current_user.livestock_owner_role == true %>
                    <li>
                        <%= link_to "Post a Job", new_job_path, class: "nav-link" %>
                    </li>
                    <% end %>
                        <li>
                            <button class="btn btn-green">
                                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                            </button>
                        </li>
                    <!-- Put the users profile image here and link it to their profile page -->


                    <%= link_to profile_path(current_user.id) do %>
                        <% if current_user.profile_image.attached? %>
                            <%= cl_image_tag(current_user.profile_image.key, class: 'rounded-full w-10 h-10 border-2 border-transparent hover:border-indigo-400', cloud_name: 'coderacademy',  :transformation=>[
                            {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
                            {:width=>48, :crop=>"scale"}
                            ]) %>
                        <% else %>
                            <%= current_user.first_name + "'s profile"%>
                        <% end %>
                    <% end %>

                    <% else %>
                      <li>
                        <button class="btn btn-transparent">
                            <%= link_to "Login", new_user_session_path, method: :get %>
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-green">
                            <%= link_to "Sign Up", new_user_registration_path, method: :get %>
                        </button>
                    </li>
                    <% end %>
                </ul>
            </nav>
            <!-- <a href="#" class="lg:ml-4 flex items-center justify-start lg:mb-0 mb-4 cursor-pointer">
                <img src="https://pbs.twimg.com/profile_images/1128143121475342337/e8tkhRaz_normal.jpg" alt="Andy Leverenz" class="rounded-full w-10 h-10 border-2 border-transparent hover:border-indigo-400">
            </a> -->
        </div>

</header>