<h1 class="text-2xl font-bold mb-6 text-white">Origin</h1>
<%= form.fields_for @job.addresses.new do |origin_form| %>
<div class="field">
  <div class="label-div">
    <%= origin_form.label :street_number, class: "label"  %>
  </div>
  <div class="input-div">
    <%= origin_form.text_field :street_number, placeholder: "Street Number", required: true, class: "input" %>
  </div>
</div>

<div class="field">
  <div class="label-div">
  <%= origin_form.label :street_name, class: "label"  %>
</div>
<div class="input-div">
<%= origin_form.text_field :street_name, placeholder: "Street Name", required: true, class: "input" %>
</div>
</div>

<div class="field">
  <div class="label-div">
  <%= origin_form.label :state, class: "label"  %>
</div>
<div class="input-div">
<%= origin_form.text_field :state, placeholder: "State", required: true, class: "input" %>
</div>
</div>


<div class="field">
  <div class="label-div">
  <%= origin_form.label :postcode, class: "label"  %>
</div>
<div class="input-div">
<%= origin_form.text_field :postcode, placeholder: "Postcode", required: true, class: "input" %>
</div>
</div>


<div class="field">
  <div class="label-div">
    <%= origin_form.label :country, class: "label"  %>
  </div>
  <div class="input-div">
  <%= origin_form.text_field :country, placeholder: "Country", required: true, class: "input" %>
</div>
</div>

<% end %>
<hr>
<h1 class="text-2xl font-bold mb-6 text-white">Destination</h1>
<%= form.fields_for @job.addresses.new do |destination_form| %>
<div class="field">
  <div class="label-div">
    <%= destination_form.label :street_number, class: "label"  %>
  </div>
  <div class="input-div">
    <%= destination_form.text_field :street_number, placeholder: "Street Number", required: true, class: "input" %>
  </div>
</div>

<div class="field">
  <div class="label-div">
  <%= destination_form.label :street_name, class: "label"  %>
</div>
<div class="input-div">
<%= destination_form.text_field :street_name, placeholder: "Street Name", required: true, class: "input" %>
</div>
</div>

<div class="field">
  <div class="label-div">
  <%= destination_form.label :state, class: "label"  %>
</div>
<div class="input-div">
<%= destination_form.text_field :state, placeholder: "State", required: true, class: "input" %>
</div>
</div>


<div class="field">
  <div class="label-div">
  <%= destination_form.label :postcode, class: "label"  %>
</div>
<div class="input-div">
<%= destination_form.text_field :postcode, placeholder: "Postcode", required: true, class: "input" %>
</div>
</div>


<div class="field">
  <div class="label-div">
    <%= destination_form.label :country, class: "label"  %>
  </div>
  <div class="input-div">
  <%= destination_form.text_field :country, placeholder: "Country", required: true, class: "input" %>
</div>
</div>
<% end %>